@model Proyecto_Final.Models.ViewModels.Contacto
@{
    ViewBag.Title = "Contacto";
}

<div class="bg-title bg-contacto">
        <div class="title">
            CONTACTO
        </div>
</div>

<form method="post" action="~/home/procesarcontacto">
<div class="row">
    <div class="formulario-contacto col-md-6">
        <h1 class="display-5 mt-5 text-center">Formulario de Contacto</h1>
        
            <div class="form-group">
            <div class="row">
                <div class="h3 font-weight-normal col-md-4">
                    Nombre:
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(m=>m.Nombre, new { @class = "form-control" })
                </div>
            </div>
            <div class="row mt-4">
                <div class="h3 font-weight-normal col-md-4">
                    E-mail:
                </div>
                <div class="col-md-7">
                     @Html.TextBoxFor(m=>m.Correo, new { @class = "form-control", type = "email" })
                </div>
            </div>
            <div class="row mt-4">
                <div class="h3 font-weight-normal col-md-4">
                    Asunto:
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(m=>m.Asunto, new { @class = "form-control" })
                </div>
            </div>
            
            </div>
        
    </div>

    <div class="formulario-contacto-mensaje col-md-6">
        
        <div class="form-group">
            <div class="h5 mt-4 align-bottom">Mensaje:</div>
            <div class="row">
                <div class="col-md-12">
                     @Html.TextAreaFor(m=>m.Mensaje, new { @class = "form-control", rows= "10", cols="10" })
                </div>
            </div>
        </div>
    </div>
@Html.ValidationSummary()
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="row">
                <button type="submit" class="btn btn-contacto-enviar pt-3 pb-3 pl-5 pr-5 ml-auto mr-auto">Enviar</button>
            </div>    
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
</form>